from pathlib import Path
import shutil
import subprocess


def silence_errors(func):
    def wrapped(*args, **kwargs):
        try:
            func(*args, **kwargs)
        except Exception:
            pass
    return wrapped

@silence_errors
def rm(path):
    Path(path).unlink()

@silence_errors
def rmdir(path):
    shutil.rmtree(path)


if __name__ == '__main__':
    clean_files = []
    {% if 'uv' not in component %}
    clean_files += ["pyproject.toml",".python-version"]
    {% endif %}
    cwd = Path(__file__).parent.parent
    for f in clean_files:
        rmdir(cwd / f)
    
    rm(__file__)
    print("Project sucessfully generated!")
