[project]
name = "{{ python_package_name }}"
version = "{{ project_version }}"
description = "{{ project_description }}"
readme = "README.md"
requires-python = ">={{ python_version }}"
dependencies = [
]

[dependency-groups]
doc = [
]
dev = [
]

[tool.uv]
default-groups = ["doc", "dev"]